<h1>Add a new contact:</h1><br>
<form method="post" action="/contacts">
  <div>
    First name: <input type="text" name="first_name" />
  </div><br>
  <div>
    Middle name: <input type="text" name="middle_name" />
  </div><br>
  <div>
    Last name: <input type="text" name="last_name" />
  </div><br>
  <div>
    Phone: <input type="text" name="phone_number" />
  </div><br>
  <div>
    Email: <input type="text" name="email" />
  </div><br>
  <div>
    Bio: <input type="text" name="bio" />
  </div><br>
  <input type="submit" value="Add Contact" />
</form>
  